*                 text=auto

# Source code
*.js              text eol=lf linguist-language=JavaScript
*.json            text eol=lf linguist-language=JSON-With-Comments
*.ts              text eol=lf linguist-language=TypeScript

# Documentation
*.md              text

# Configs
.editorconfig     text
.env              text
.gitattributes    text
.gitconfig        text
*.lock            text -diff merge=binary
package-lock.json text -diff merge=binary
*.yaml            text
*.yml             text

# RC files (like .babelrc or .eslintrc)
*.*rc             text

# Ignore files (like .npmignore or .gitignore)
*.*ignore         text

# Images
*.png             -text

# Husky
/.husky/*         text eol=lf linguist-language=Shell

# Yarn Berry
/.yarn/releases/** binary
/.yarn/plugins/** binary
