# Coverage tools
.nyc_output
coverage
test-results

# npm and built files
dist
node_modules
*.log
*.sarif
*.tsbuildinfo

# Yarn Berry
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
